<!DOCTYPE HTML>
<html>
	<head>
		<title>Vebrent BVBA</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/media.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="../index.html"><strong>VEBRENT</strong> bvba</a></h1>
						<nav>
							<ul>
								<li><a href="#footer" class="icon solid fa-info-circle">Andere</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">
						<article class="thumb">
							<a href="../../assets/images/Projecten/Afbraak/Haasdonk-Feestzaal/afbraak.jpeg" class="image"><img src="../../assets/images/projecten/Afbraak/Haasdonk-Feestzaal/afbraak.jpeg" alt="" /></a>
							<h2>Feestzaal Haasdonk</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Afbraak/Haasdonk-Feestzaal/afbraak1.jpeg" class="image"><img src="../../assets/images/projecten/Afbraak/Haasdonk-Feestzaal/afbraak1.jpeg" alt="" /></a>
							<h2>Feestzaal Haasdonk</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Afbraak/Haasdonk-Feestzaal/afbraak2.jpeg" class="image"><img src="../../assets/images/projecten/Afbraak/Haasdonk-Feestzaal/afbraak2.jpeg" alt="" /></a>
							<h2>Feestzaal Haasdonk</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Afbraak/Haasdonk-Feestzaal/afbraak3.jpeg" class="image"><img src="../../assets/images/projecten/Afbraak/Haasdonk-Feestzaal/afbraak3.jpeg" alt="" /></a>
							<h2>Feestzaal Haasdonk</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Afbraak/Uitbergen-DeVenne/afbraak.JPG" class="image"><img src="../../assets/images/projecten/Afbraak/Uitbergen-DeVenne/afbraak.JPG" alt="" /></a>
							<h2>Devenne Uitbergen</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Afbraak/Uitbergen-DeVenne/afbraak1.JPG" class="image"><img src="../../assets/images/projecten/Afbraak/Uitbergen-DeVenne/afbraak1.JPG" alt="" /></a>
							<h2>Devenne Uitbergen</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Afbraak/Uitbergen-DeVenne/afbraak2.JPG" class="image"><img src="../../assets/images/projecten/Afbraak/Uitbergen-DeVenne/afbraak2.JPG" alt="" /></a>
							<h2>Devenne Uitbergen</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Afbraak/Uitbergen-DeVenne/afbraak3.JPG" class="image"><img src="../../assets/images/projecten/Afbraak/Uitbergen-DeVenne/afbraak3.JPG" alt="" /></a>
							<h2>Devenne Uitbergen</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Afbraak/Wetteren-Kaaimuur/afbraak.jpeg" class="image"><img src="../../assets/images/projecten/Afbraak/Wetteren-Kaaimuur/afbraak.jpeg" alt="" /></a>
							<h2>Kaaimuur Wetteren</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Afbraak/Wetteren-Kaaimuur/afbraak1.jpeg" class="image"><img src="../../assets/images/projecten/Afbraak/Wetteren-Kaaimuur/afbraak1.jpeg" alt="" /></a>
							<h2>Kaaimuur Wetteren</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Afbraak/Wetteren-Kaaimuur/afbraak2.jpeg" class="image"><img src="../../assets/images/projecten/Afbraak/Wetteren-Kaaimuur/afbraak2.jpeg" alt="" /></a>
							<h2>Kaaimuur Wetteren</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Afbraak/Wetteren-Kaaimuur/afbraak3.jpeg" class="image"><img src="../../assets/images/projecten/Afbraak/Wetteren-Kaaimuur/afbraak3.jpeg" alt="" /></a>
							<h2>Kaaimuur Wetteren</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
					</div>

				<!-- Footer -->
					<footer id="footer" class="panel">
						<div class="inner split">
							<div>
								<section id="mediaLinkList">
									<ul>
										<li><a href="../../index.html">Startpagina</a></li>
										<li>
											<a>In Beeld</a>
											<ul>
												<li><a href="./media.html">Het bedrijf</a></li>
												<li><a href="../vacatures.html"">Vacatures</a></li>
												<li>
													<a>Projecten</a>
													<ul>
														<li><a href="./afbraak.html" >Afbraakwerken</a></li>
														<li><a href="./grondwerken.html" >Grondwerken</a></li>
														<li><a href="./wagenpark.html" >Machinepark</a></li>
														<li><a href="./omgeving.html" >Omgevingswerken</a></li>
														<li><a href="./riolering.html" >Rioleringswerken</a></li>
													</ul>
												</li>
												<li><a href="https://www.facebook.com/Vebrent-BVBA-Stijn-De-Schryver-105164980831648">Facebook</a></li>
												<li><a href="https://www.instagram.com/vebrent_bvba/">Instagram</a></li>
											</ul>
										</li>
									</ul>
								</section>
								
							</div>
							<div>
								<section>
									<h2>Volg ons ook op</h2>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
									</ul>
								</section>
								<p class="copyright">
									&copy; GHOST
								</p>
							</div>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>