<!DOCTYPE HTML>
<html>
	<head>
		<title>Vebrent BVBA</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/media.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="../../index.html"><strong>VEBRENT</strong> bvba</a></h1>
						<nav>
							<ul>
								<li><a href="#footer" class="icon solid fa-info-circle">Andere</a></li>
							</ul>
						</nav>
					</header>

                <!-- Main -->
                <div id="main" class="afbraak">
					
						<article class="thumb">
							<a href="../../assets/images/Projecten/Afbraak/Haasdonk-Feestzaal/afbraak.jpeg" class="image"><img src="../../assets/images/projecten/Afbraak/Haasdonk-Feestzaal/afbraak.jpeg" alt="" /></a>
							<h2>Feestzaal Haasdonk</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Afbraak/Haasdonk-Feestzaal/afbraak1.jpeg" class="image"><img src="../../assets/images/projecten/Afbraak/Haasdonk-Feestzaal/afbraak1.jpeg" alt="" /></a>
							<h2>Feestzaal Haasdonk</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Afbraak/Haasdonk-Feestzaal/afbraak2.jpeg" class="image"><img src="../../assets/images/projecten/Afbraak/Haasdonk-Feestzaal/afbraak2.jpeg" alt="" /></a>
							<h2>Feestzaal Haasdonk</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Afbraak/Haasdonk-Feestzaal/afbraak3.jpeg" class="image"><img src="../../assets/images/projecten/Afbraak/Haasdonk-Feestzaal/afbraak3.jpeg" alt="" /></a>
							<h2>Feestzaal Haasdonk</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Afbraak/Uitbergen-DeVenne/afbraak.JPG" class="image"><img src="../../assets/images/projecten/Afbraak/Uitbergen-DeVenne/afbraak.JPG" alt="" /></a>
							<h2>Devenne Uitbergen</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Afbraak/Uitbergen-DeVenne/afbraak1.JPG" class="image"><img src="../../assets/images/projecten/Afbraak/Uitbergen-DeVenne/afbraak1.JPG" alt="" /></a>
							<h2>Devenne Uitbergen</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Afbraak/Uitbergen-DeVenne/afbraak2.JPG" class="image"><img src="../../assets/images/projecten/Afbraak/Uitbergen-DeVenne/afbraak2.JPG" alt="" /></a>
							<h2>Devenne Uitbergen</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Afbraak/Uitbergen-DeVenne/afbraak3.JPG" class="image"><img src="../../assets/images/projecten/Afbraak/Uitbergen-DeVenne/afbraak3.JPG" alt="" /></a>
							<h2>Devenne Uitbergen</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Afbraak/Wetteren-Kaaimuur/afbraak.jpeg" class="image"><img src="../../assets/images/projecten/Afbraak/Wetteren-Kaaimuur/afbraak.jpeg" alt="" /></a>
							<h2>Kaaimuur Wetteren</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Afbraak/Wetteren-Kaaimuur/afbraak1.jpeg" class="image"><img src="../../assets/images/projecten/Afbraak/Wetteren-Kaaimuur/afbraak1.jpeg" alt="" /></a>
							<h2>Kaaimuur Wetteren</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Afbraak/Wetteren-Kaaimuur/afbraak2.jpeg" class="image"><img src="../../assets/images/projecten/Afbraak/Wetteren-Kaaimuur/afbraak2.jpeg" alt="" /></a>
							<h2>Kaaimuur Wetteren</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Afbraak/Wetteren-Kaaimuur/afbraak3.jpeg" class="image"><img src="../../assets/images/projecten/Afbraak/Wetteren-Kaaimuur/afbraak3.jpeg" alt="" /></a>
							<h2>Kaaimuur Wetteren</h2>
                        </article>
                </div>
				<div id="main" style="display:none" class="grond">
						<article class="thumb">
							<a href="../../assets/images/projecten/Grondwerken/grond0.jpeg" class="image"><img src="../../assets/images/projecten/Grondwerken/grond0.jpeg" alt="" /></a>
							<h2>grondwerken</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Grondwerken/grond0.jpg" class="image"><img src="../../assets/images/projecten/Grondwerken/grond0.jpg" alt="" /></a>
							<h2>grondwerken</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Grondwerken/grond1.jpeg" class="image"><img src="../../assets/images/projecten/Grondwerken/grond1.jpeg" alt="" /></a>
							<h2>grondwerken</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Grondwerken/grond.JPeG" class="image"><img src="../../assets/images/projecten/Grondwerken/grond.JPeG" alt="" /></a>
							<h2>grondwerken</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Grondwerken/grond2.jpeg" class="image"><img src="../../assets/images/projecten/Grondwerken/grond2.jpeg" alt="" /></a>
							<h2>grondwerken</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Grondwerken/grond3.jpeg" class="image"><img src="../../assets/images/projecten/Grondwerken/grond3.jpeg" alt="" /></a>
							<h2>grondwerken</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Grondwerken/grond4.jpeg" class="image"><img src="../../assets/images/projecten/Grondwerken/grond4.jpeg" alt="" /></a>
							<h2>grondwerken</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Grondwerken/grond5.jpeg" class="image"><img src="../../assets/images/projecten/Grondwerken/grond5.jpeg" alt="" /></a>
							<h2>grondwerken</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Grondwerken/grond6.jpeg" class="image"><img src="../../assets/images/projecten/Grondwerken/grond6.jpeg" alt="" /></a>
							<h2>grondwerken</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Grondwerken/grond7.jpeg" class="image"><img src="../../assets/images/projecten/Grondwerken/grond7.jpeg" alt="" /></a>
							<h2>grondwerken</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Grondwerken/grond8.jpeg" class="image"><img src="../../assets/images/projecten/Grondwerken/grond8.jpeg" alt="" /></a>
							<h2>grondwerken</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Grondwerken/grond.jpg" class="image"><img src="../../assets/images/projecten/Grondwerken/grond.jpg" alt="" /></a>
							<h2>grondwerken</h2>
                        </article>
					</div>
					<div id="main" style="display:none" class="machine">
						<article class="thumb">
							<a href="../../assets/images/projecten/Machinepark/kamion.jpg" class="image"><img src="../../assets/images/projecten/Machinepark/kamion.jpg" alt="" /></a>
							<h2>Vrachtwagen</h2>
							<p>MAN uitgerust met GPS</p>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Machinepark/transport.png" class="image"><img src="../../assets/images/projecten/Machinepark/transport.png" alt="" /></a>
							<h2>Diepligger</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Machinepark/kraan.jpg" class="image"><img src="../../assets/images/projecten/Machinepark/kraan.jpg" alt="" /></a>
							<h2>Bandenkraan</h2>
							<p>Hitachi 140 uitgerust met tiltrotator</p>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Machinepark/kraan.png" class="image"><img src="../../assets/images/projecten/Machinepark/kraan.png" alt="" /></a>
							<h2>Rupskraan</h2>
							<p>Hitachi ZX 250 LCN-5</p>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Machinepark/kraan1.jpg" class="image"><img src="../../assets/images/projecten/Machinepark/kraan1.jpg" alt="" /></a>
							<h2>Bandenkraan</h2>
							<p>Atlas 160W uitgerust met tiltrotator</p>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Machinepark/kraan3.jpg" class="image"><img src="../../assets/images/projecten/Machinepark/kraan3.jpg" alt="" /></a>
							<h2>Bandenkraan</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Machinepark/kraantje.png" class="image"><img src="../../assets/images/projecten/Machinepark/kraantje.png" alt="" /></a>
							<h2>Rupskraan</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Machinepark/pickup.jpeg" class="image"><img src="../../assets/images/projecten/Machinepark/pickup.jpeg" alt="" /></a>
							<h2>Pick-Up Truck</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Machinepark/traktor3.jpeg" class="image"><img src="../../assets/images/projecten/Machinepark/traktor3.jpeg" alt="" /></a>
							<h2>Traktor</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Machinepark/remork.jpg" class="image"><img src="../../assets/images/projecten/Machinepark/remork.jpg" alt="" /></a>
							<h2>Opligger</h2>
							<p>Record 3-askar</p>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Machinepark/traktor.jpg" class="image"><img src="../../assets/images/projecten/Machinepark/traktor.jpg" alt="" /></a>
							<h2>Traktor</h2>
							<p>Case 300 Optum uitgerust met GPS.</p>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Machinepark/transport3.jpeg" class="image"><img src="../../assets/images/projecten/Machinepark/transport3.jpeg" alt="" /></a>
							<h2>Vrachtwagen</h2>
                        </article>
					</div>
					<div id="main" style="display:none" class="omgeving">
						<article class="thumb">
							<a href="../../assets/images/projecten/Omgeving/Aanleg-opritten.jpg" class="image"><img src="../../assets/images/projecten/Omgeving/Aanleg-opritten.jpg" alt="" /></a>
							<h2>Opritten</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Omgeving/Herbestrating.jpeg" class="image"><img src="../../assets/images/projecten/Omgeving/Herbestrating.jpeg" alt="" /></a>
							<h2>Bestrating</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Omgeving/omgeving.JPG" class="image"><img src="../../assets/images/projecten/Omgeving/omgeving.JPG" alt="" /></a>
							<h2>Grondversteviging</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Omgeving/omgeving0.JPG" class="image"><img src="../../assets/images/projecten/Omgeving/omgeving0.JPG" alt="" /></a>
							<h2>Keermuren</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Omgeving/omgeving1.JPG" class="image"><img src="../../assets/images/projecten/Omgeving/omgeving1.JPG" alt="" /></a>
							<h2>Grondversteviging</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Omgeving/omgeving2.JPG" class="image"><img src="../../assets/images/projecten/Omgeving/omgeving2.JPG" alt="" /></a>
							<h2>Bekisting</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Omgeving/omgeving3.JPG" class="image"><img src="../../assets/images/projecten/Omgeving/omgeving3.JPG" alt="" /></a>
							<h2>Keermuren</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Omgeving/Omgeving-Beplanting.JPG" class="image"><img src="../../assets/images/projecten/Omgeving/Omgeving-Beplanting.JPG" alt="" /></a>
							<h2>beplanting</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Omgeving/Omgeving-Beplanting0.JPG" class="image"><img src="../../assets/images/projecten/Omgeving/Omgeving-Beplanting0.JPG" alt="" /></a>
							<h2>beplanting</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Omgeving/Plaatsen-keermuren.jpeg" class="image"><img src="../../assets/images/projecten/Omgeving/Plaatsen-keermuren.jpeg" alt="" /></a>
							<h2>Terras</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Omgeving/Steenokkerzeel-Aanleg-kinderdagverblijf.jpeg" class="image"><img src="../../assets/images/projecten/Omgeving/Steenokkerzeel-Aanleg-kinderdagverblijf.jpeg" alt="" /></a>
							<h2>Bestrating</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Omgeving/Trap-grasdallen.jpg" class="image"><img src="../../assets/images/projecten/Omgeving/Trap-grasdallen.jpg" alt="" /></a>
							<h2>Grasdallen</h2>
                        </article>
					</div>
					<div id="main" style="display:none" class="riolering">
						<article class="thumb">
							<a href="../../assets/images/projecten/Rioleringswerken/Privéafkoppelingen/prive.jpeg" class="image"><img src="../../assets/images/projecten/Rioleringswerken/Privéafkoppelingen/prive.jpeg" alt="" /></a>
							<h2>Rioleringswerken</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Rioleringswerken/Privéafkoppelingen/prive1.jpeg" class="image"><img src="../../assets/images/projecten/Rioleringswerken/Privéafkoppelingen/prive1.jpeg" alt="" /></a>
							<h2>Rioleringswerken</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Rioleringswerken/Privéafkoppelingen/prive2.jpeg" class="image"><img src="../../assets/images/projecten/Rioleringswerken/Privéafkoppelingen/prive2.jpeg" alt="" /></a>
							<h2>Rioleringswerken</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Rioleringswerken/Privéafkoppelingen/prive3.jpeg" class="image"><img src="../../assets/images/projecten/Rioleringswerken/Privéafkoppelingen/prive3.jpeg" alt="" /></a>
							<h2>Rioleringswerken</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Rioleringswerken/riool.jpeg" class="image"><img src="../../assets/images/projecten/Rioleringswerken/riool.jpeg" alt="" /></a>
							<h2>Rioleringswerken</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Rioleringswerken/Werf-gentbrugge-Hoofdriolering-gres-en-beton.jpeg" class="image"><img src="../../assets/images/projecten/Rioleringswerken/Werf-gentbrugge-Hoofdriolering-gres-en-beton.jpeg" alt="" /></a>
							<h2>Rioleringswerken</h2>
						</article>
						<article class="thumb">
							<a href="" class="image"><img src="" alt="" /></a>
							<h2>Rioleringswerken</h2>
						</article>
						<article class="thumb">
							<a href="" class="image"><img src="" alt="" /></a>
							<h2>Rioleringswerken</h2>
						</article>
                </div>
				<!-- Footer -->
					<footer id="footer" class="panel">
						<div class="inner split">
							<div>
								<section id="mediaLinkList">
									<ul>
										<li><a onclick="gallerySelector()" value="afbraak">Afbraakwerken</a></li>
										<li><a value="grond">Grondwerken</a></li>
										<li><a value="machine">Machinepark</a></li>
										<li><a value="omgeving">Omgevingswerken</a></li>
										<li><a value="riolering">Rioleringswerken</a></li>
										<li><a href="../activiteiten.html"">Vacatures</a></li>
										<li><a href="../activiteiten.html">Activiteiten</a></li>
										<li><a href="../contact.html">Contact</a></li>
									</ul>
									<button>Afbraakwerken</button>
									<button>Grondwerken</button>
									<button>Machinepark</button>
									<button>Omgevingswerken</button>
									<button>Rioleringswerken</button>
									<button>Vacatures</button>
									<button>Activiteiten</button>
									<button>Contact</button>
								</section>
								
							</div>
							<div>
								<section>
									<h2>Volg ons ook op</h2>
									<ul class="icons">
										<li><a href="https://www.facebook.com/Vebrent-BVBA-Stijn-De-Schryver-105164980831648" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="https://www.instagram.com/vebrent_bvba/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="https://www.linkedin.com/in/stijn-de-schryver-1341216a/" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
									</ul>
								</section>
								<p class="copyright">
									&copy; Vebrent
								</p>
							</div>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/galleryselection.js"></script>

	</body>
</html>