<!DOCTYPE HTML>
<html>
	<head>
		<title>Vebrent BVBA</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/media.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="../../index.html"><strong>VEBRENT</strong> bvba</a></h1>
						<nav>
							<ul>
								<li><a href="#footer" class="icon solid fa-info-circle">Andere</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">
						<article class="thumb">
							<a href="../../assets/images/projecten/Grondwerken/grond0.jpeg" class="image"><img src="../../assets/images/projecten/Grondwerken/grond0.jpeg" alt="" /></a>
							<h2>grondwerken</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Grondwerken/grond0.jpg" class="image"><img src="../../assets/images/projecten/Grondwerken/grond0.jpg" alt="" /></a>
							<h2>grondwerken</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Grondwerken/grond1.jpeg" class="image"><img src="../../assets/images/projecten/Grondwerken/grond1.jpeg" alt="" /></a>
							<h2>grondwerken</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Grondwerken/grond.JPeG" class="image"><img src="../../assets/images/projecten/Grondwerken/grond.JPeG" alt="" /></a>
							<h2>grondwerken</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Grondwerken/grond2.jpeg" class="image"><img src="../../assets/images/projecten/Grondwerken/grond2.jpeg" alt="" /></a>
							<h2>grondwerken</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Grondwerken/grond3.jpeg" class="image"><img src="../../assets/images/projecten/Grondwerken/grond3.jpeg" alt="" /></a>
							<h2>grondwerken</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Grondwerken/grond4.jpeg" class="image"><img src="../../assets/images/projecten/Grondwerken/grond4.jpeg" alt="" /></a>
							<h2>grondwerken</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Grondwerken/grond5.jpeg" class="image"><img src="../../assets/images/projecten/Grondwerken/grond5.jpeg" alt="" /></a>
							<h2>grondwerken</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Grondwerken/grond6.jpeg" class="image"><img src="../../assets/images/projecten/Grondwerken/grond6.jpeg" alt="" /></a>
							<h2>grondwerken</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Grondwerken/grond7.jpeg" class="image"><img src="../../assets/images/projecten/Grondwerken/grond7.jpeg" alt="" /></a>
							<h2>grondwerken</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Grondwerken/grond8.jpeg" class="image"><img src="../../assets/images/projecten/Grondwerken/grond8.jpeg" alt="" /></a>
							<h2>grondwerken</h2>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Grondwerken/grond.jpg" class="image"><img src="../../assets/images/projecten/Grondwerken/grond.jpg" alt="" /></a>
							<h2>grondwerken</h2>
						</article>
					</div>

				<!-- Footer -->
					<footer id="footer" class="panel">
						<div class="inner split">
							<div>
								<section id="mediaLinkList">
									<ul>
										<li><a href="./afbraak.html" >Afbraakwerken</a></li>
										<li><a href="./grondwerken.html" >Grondwerken</a></li>
										<li><a href="./wagenpark.html" >Machinepark</a></li>
										<li><a href="./omgeving.html" >Omgevingswerken</a></li>
										<li><a href="./riolering.html" >Rioleringswerken</a></li>
										<li><a href="../vacatures.html"">Vacatures</a></li>
										<li><a href="../activiteiten.html">Activiteiten</a></li>
										<li><a href="../contact.html">Contact</a></li>
									</ul>
								</section>
								
							</div>
							<div>
								<section>
									<h2>Volg ons ook op</h2>
									<ul class="icons">
										<li><a href="https://www.facebook.com/Vebrent-BVBA-Stijn-De-Schryver-105164980831648" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="https://www.instagram.com/vebrent_bvba/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="https://www.linkedin.com/in/stijn-de-schryver-1341216a/" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
									</ul>
								</section>
								<p class="copyright">
									&copy; Vebrent
								</p>
							</div>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>