<!DOCTYPE HTML>
<html>
	<head>
		<title>Vebrent BVBA</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/media.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="../../index.html"><strong>VEBRENT</strong> bvba</a></h1>
						<nav>
							<ul>
								<li><a href="#footer" class="icon solid fa-info-circle">Andere</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">
						<article class="thumb">
							<a href="../../assets/images/projecten/Omgeving/Aanleg-opritten.jpg" class="image"><img src="../../assets/images/projecten/Omgeving/Aanleg-opritten.jpg" alt="" /></a>
							<h2>Openbare Werken</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Omgeving/Herbestrating.jpeg" class="image"><img src="../../assets/images/projecten/Omgeving/Herbestrating.jpeg" alt="" /></a>
							<h2>Seizoensgeboden Arbeid</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Omgeving/omgeving.JPG" class="image"><img src="../../assets/images/projecten/Omgeving/omgeving.JPG" alt="" /></a>
							<h2>Authenticiteit</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Omgeving/omgeving0.JPG" class="image"><img src="../../assets/images/projecten/Omgeving/omgeving0.JPG" alt="" /></a>
							<h2>Research</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Omgeving/omgeving1.JPG" class="image"><img src="../../assets/images/projecten/Omgeving/omgeving1.JPG" alt="" /></a>
							<h2>Machinaal</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Omgeving/omgeving2.JPG" class="image"><img src="../../assets/images/projecten/Omgeving/omgeving2.JPG" alt="" /></a>
							<h2>Afwerking</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Omgeving/omgeving3.JPG" class="image"><img src="../../assets/images/projecten/Omgeving/omgeving3.JPG" alt="" /></a>
							<h2>Mechaniek</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Omgeving/Omgeving-Beplanting.JPG" class="image"><img src="../../assets/images/projecten/Omgeving/Omgeving-Beplanting.JPG" alt="" /></a>
							<h2>Transport</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Omgeving/Omgeving-Beplanting0.JPG" class="image"><img src="../../assets/images/projecten/Omgeving/Omgeving-Beplanting0.JPG" alt="" /></a>
							<h2>Gedreven</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Omgeving/Plaatsen-keermuren.jpeg" class="image"><img src="../../assets/images/projecten/Omgeving/Plaatsen-keermuren.jpeg" alt="" /></a>
							<h2>Professionalisme</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Omgeving/Steenokkerzeel-Aanleg-kinderdagverblijf.jpeg" class="image"><img src="../../assets/images/projecten/Omgeving/Steenokkerzeel-Aanleg-kinderdagverblijf.jpeg" alt="" /></a>
							<h2>Samen naar de top</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../../assets/images/projecten/Omgeving/Trap-grasdallen.jpg" class="image"><img src="../../assets/images/projecten/Omgeving/Trap-grasdallen.jpg" alt="" /></a>
							<h2>Intuïtie </h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
					</div>

				<!-- Footer -->
					<footer id="footer" class="panel">
						<div class="inner split">
							<div>
								<section id="mediaLinkList">
									<ul>
										<li><a href="./afbraak.html" >Afbraakwerken</a></li>
										<li><a href="./grondwerken.html" >Grondwerken</a></li>
										<li><a href="./wagenpark.html" >Machinepark</a></li>
										<li><a href="./omgeving.html" >Omgevingswerken</a></li>
										<li><a href="./riolering.html" >Rioleringswerken</a></li>
										<li><a href="../vacatures.html"">Vacatures</a></li>
										<li><a href="../activiteiten.html">Activiteiten</a></li>
										<li><a href="../contact.html">Contact</a></li>
									</ul>
								</section>
								
							</div>
							<div>
								<section>
									<h2>Volg ons ook op</h2>
									<ul class="icons">
										<li><a href="https://www.facebook.com/Vebrent-BVBA-Stijn-De-Schryver-105164980831648" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="https://www.instagram.com/vebrent_bvba/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="https://www.linkedin.com/in/stijn-de-schryver-1341216a/" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
									</ul>
								</section>
								<p class="copyright">
									&copy; GHOST
								</p>
							</div>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>