<!DOCTYPE HTML>
<html>
	<head>
		<title>Vebrent BVBA</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
	</head>
	<body class="right-sidebar is-preload">
		<div id="page-wrapper">
			<a class="vebrentlogo" href="../index.html"><img src="../assets/images/logo.svg"></a>
				<section id="header">
						<nav id="nav">
							<ul>
								<li><a href="../index.html">Startpagina</a></li>
								<li>
									<a>In Beeld</a>
									<ul>
										<li><a href="vacature.html">Vacatures</a></li>
										<li>
											<a href="./gallery/gallerij.html">Projecten</a>
										</li>
										<li><a href="https://www.facebook.com/Vebrent-BVBA-Stijn-De-Schryver-105164980831648">Facebook</a></li>
										<li><a href="#https://www.instagram.com/vebrent_bvba/">Instagram</a></li>
									</ul>
								</li>
								<li class="current"><a href="activiteiten.html">Activiteiten</a></li>
								<li><a href="contact.html">Contact</a></li>
							</ul>
						</nav>

				</section>

				<section id="main">
					<div id="activiteitenindex" class="container">
						<div class="row">
							<div class="col-6 col-12-medium">
								<header>
									<h2>Een greep uit onze dagelijkse activiteiten</h2>
								</header>
								<!-- Content -->
									<article class="box post">
										<section>
											<h3>Grondwerken</h3>
											<p>Door ons <b>modern uitgerust machinepark</b> kunnen we al uw grondwerken uitvoeren, <i> groot of klein.</i></br>
												Al onze kranen zijn uitgerust met <b>GPS-systeem</b> om de nauwkeurigheid te garanderen.</br>
												Dankzij <i>onze jarenlange kennis</i> gaan we geen werk uit de weg tegen <b>concurrentiële prijzen.</b></br>
												Onze medewerkers staan u graag te woord voor elke vraag die u heeft.</p>
											<div class="slideshow-container">
											<div class="mySlides1">
												<img src="../assets/images/projecten/Grondwerken/grond1.jpeg" style="width:100%">
											</div>

											<div class="mySlides1">
												<img src="../assets/images/projecten/Grondwerken/grond8.jpeg" style="width:100%">
											</div>

											<div class="mySlides1">
												<img src="../assets/images/projecten/Grondwerken/grond3.jpeg" style="width:100%">
											</div>
											<div class="mySlides1">
												<img src="../assets/images/projecten/Grondwerken/grond0.jpg" style="width:100%">
											</div>
											<a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
											<a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
											</div>
										</section>
									</article>
									<section class="box post">
										<h3>Omgevingswerken – Opritten en terassen</h3>
											<p><i>Van uw nieuwe tuin tot aanleg van nieuwe parken.</i></p>
											<div class="slideshow-container">
											<div class="mySlides4">
												<img src="../assets/images/projecten/Omgeving/omgeving1.JPG" style="width:100%">
											</div>

											<div class="mySlides4">
												<img src="../assets/images/projecten/Omgeving/Aanleg-opritten.jpg" style="width:100%">
											</div>

											<div class="mySlides4">
												<img src="../assets/images/projecten/Omgeving/Steenokkerzeel-Aanleg-kinderdagverblijf.jpeg" style="width:100%">
											</div>

											<div class="mySlides4">
												<img src="../assets/images/projecten/Omgeving/Omgeving-Beplanting.JPG" style="width:100%">
											</div>
											<a class="prev" onclick="plusSlides(-1, 3)">&#10094;</a>
											<a class="next" onclick="plusSlides(1, 3)">&#10095;</a>
											</div>
									</section>
									<article class="box post">
										<section>
											<h3>Transport</h3>
											<p>Door ons <i>uitgebreid wagenpark</i> kunnen we transport voorzien op <b>bijna</b> elke ondergrond.</br> 
												En dankzij onze <b>snelle en directe service</b> kunnen we dagelijks aan <i>uw wensen voldoen.</i></p>
										<div class="slideshow-container">
											<div class="mySlides5">
												<img src="../assets/images/projecten/Machinepark/kraan3.jpg" style="width:100%">
											</div>

											<div class="mySlides5">
												<img src="../assets/images/projecten/Machinepark/traktor3.jpeg" style="width:100%">
											</div>

											<div class="mySlides5">
												<img src="../assets/images/projecten/Machinepark/kamion.jpg" style="width:100%">
											</div>

											<div class="mySlides5">
												<img src="../assets/images/projecten/Machinepark/transport1.jpeg" style="width:100%">
											</div>

											<a class="prev" onclick="plusSlides(-1, 4)">&#10094;</a>
											<a class="next" onclick="plusSlides(1, 4)">&#10095;</a>
											</div>
											
										</section>
									</article>
							</div>
							<div class="col-6 col-12-medium">
								<!-- Sidebar -->
								<article class="box post">
									<section>
										<h3>Afbraakwerken</h3>
										<p>U kan bij ons terecht voor <b>alle afbraakwerken</b>. Dit kan gaan van een bijbouw tot een complex, <i>zowel voor particulieren als voor industriële of openbare aanbestedingen.</i></br>
											Daarnaast behoort ook het afbreken van steigers en kaaimuren tot <b>onze specialiteit.</b></br>
											Samen met u, de klant, maken we een plan van aanpak op zodat alles veilig kan gebeuren.</br>
											Het puin trachten we zoveel mogelijk ter plaatse te recupereren om deze opnieuw als fundering te gebruiken en zo <b>een meer totaalpakket</b> te kunnen aanbieden. </br>
											<i>Zit er asbest in uw gebouw?</i> Geen probleem, wij hebben de nodige attesten en vergunningen om deze te verwijderen (eenvoudige handelingen) 
										</p>
										<div class="slideshow-container">
										<div class="mySlides2">
											<img src="../assets/images/projecten/Afbraak/Haasdonk-Feestzaal/afbraak.jpeg" style="width:100%">
										</div>

										<div class="mySlides2">
											<img src="../assets/images/projecten/Afbraak/afbraak.jpg" style="width:100%">
										</div>

										<div class="mySlides2">
											<img src="../assets/images/projecten/Afbraak/Wetteren-Kaaimuur/afbraak.jpeg" style="width:100%">
										</div>

										<div class="mySlides2">
											<img src="../assets/images/projecten/Afbraak/Uitbergen-DeVenne/afbraak.JPG" style="width:100%">
										</div>

										<div class="mySlides2">
											<img src="../assets/images/projecten/Afbraak/Wetteren-Kaaimuur/afbraak3.jpeg" style="width:100%">
										</div>
										<a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
										<a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
										</div>
									</section>
								</article>
									
									<section class="box post">
										<header>
											<h3>Rioleringswerken</h3>
										</header>
										<p><b>Kan gaan van particuliere huisaansluitingen tot hoofdrioleringen.</b></br>
											Wordt er in uw straat een gescheiden riolering aangelegd? <i>(afzonderlijke afvoer voor afval- en hemelwater)</i></br>
											Wenst u naar aanleiding van een <b>renovatie of nieuwbouw correct</b> aangesloten te worden op het <b>openbaar rioleringsnet</b>?</br>
											Of werd er tijdens een ontstopping en/of camera-rioolinspectie een <i>defect vastgesteld aan uw rioleringsstelsel</i>?</br>
											Dan zijn wij <b>de uitgelezen partner</b> voor het uitvoeren van de vereiste werkzaamheden.</br>
											Reeds vele jaren genieten wij immers het vertrouwen voor het aanleggen, herstellen en onderhouden van afvoerleidingen voor tal van <i>bouwondernemingen, 
												syndici, verzekeringsmaatschappijen, steden, gemeenten, openbare instellingen en particulieren.</i></p>
										<div class="slideshow-container">
										<div class="mySlides3">
											<img src="../assets/images/projecten/Rioleringswerken/Privéafkoppelingen/prive2.jpeg" style="width:100%">
										</div>

										<div class="mySlides3">
											<img src="../assets/images/projecten/Rioleringswerken/riool.jpeg" style="width:100%">
										</div>

										<div class="mySlides3">
											<img src="../assets/images/projecten/Rioleringswerken/Werf-gentbrugge-Hoofdriolering-gres-en-beton.jpeg" style="width:100%">
										</div>

										<a class="prev" onclick="plusSlides(-1, 2)">&#10094;</a>
										<a class="next" onclick="plusSlides(1, 2)">&#10095;</a>
										</div>
									</section>
							</div>
						</div>
					</div>
				</section>


		</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.dropotron.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>
			<script src="../assets/js/carousel.js"></script>

	</body>
</html>