<!DOCTYPE HTML>
<html>
	<head>
		<title>Vebrent BVBA</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/media.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="../index.html"><strong>VEBRENT</strong> bvba</a></h1>
						<nav>
							<ul>
								<li><a href="#footer" class="icon solid fa-info-circle">Andere</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">
						<article class="thumb">
							<a href="../assets/images/main/main1.jpeg" class="image"><img src="../assets/images/main/main1.jpeg" alt="" /></a>
							<h2>Openbare Werken</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../assets/images/main/main2.jpeg" class="image"><img src="../assets/images/main/main2.jpeg" alt="" /></a>
							<h2>Seizoensgeboden Arbeid</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../assets/images/main/main3.jpg" class="image"><img src="../assets/images/main/main3.jpg" alt="" /></a>
							<h2>Authenticiteit</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../assets/images/main/main4.jpeg" class="image"><img src="../assets/images/main/main4.jpeg" alt="" /></a>
							<h2>Research</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../assets/images/main/main5.jpg" class="image"><img src="../assets/images/main/main5.jpg" alt="" /></a>
							<h2>Machinaal</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../assets/images/main/main6.jpg" class="image"><img src="../assets/images/main/main6.jpg" alt="" /></a>
							<h2>Afwerking</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../assets/images/main/main7.jpeg" class="image"><img src="../assets/images/main/main7.jpeg" alt="" /></a>
							<h2>Mechaniek</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../assets/images/main/main8.png" class="image"><img src="../assets/images/main/main8.png" alt="" /></a>
							<h2>Transport</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../assets/images/main/main9.png" class="image"><img src="../assets/images/main/main9.png" alt="" /></a>
							<h2>Gedreven</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../assets/images/main/main10.jpg" class="image"><img src="../assets/images/main/main10.jpg" alt="" /></a>
							<h2>Professionalisme</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../assets/images/main/main11.jpeg" class="image"><img src="../assets/images/main/main11.jpeg" alt="" /></a>
							<h2>Samen naar de top</h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
						<article class="thumb">
							<a href="../assets/images/main/main12.jpeg" class="image"><img src="../assets/images/main/main12.jpeg" alt="" /></a>
							<h2>Intuïtie </h2>
							<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
						</article>
					</div>

				<!-- Footer -->
					<footer id="footer" class="panel">
						<div class="inner split">
							<div>
								<section id="mediaLinkList">
									<ul>
										<li><a href="../index.html">Startpagina</a></li>
										<li>
											<a>In Beeld</a>
											<ul>
												<li><a href="./media.html">Het bedrijf</a></li>
												<li><a href="./media.html"">Vacatures</a></li>
												<li>
													<a>Projecten</a>
													<ul>
														<li><a href="./media.html" >Boerenkrijg</a></li>
														<li><a href="./media.html" >Gent-Brugge</a></li>
														<li><a href="./media.html" >Uitbergen</a></li>
														<li><a href="./media.html" >Overmere</a></li>
														<li><a href="./media.html" >Zele</a></li>
													</ul>
												</li>
												<li><a href="https://www.facebook.com/Vebrent-BVBA-Stijn-De-Schryver-105164980831648">Facebook</a></li>
												<li><a href="#https://www.instagram.com/vebrent_bvba/">Instagram</a></li>
											</ul>
										</li>
									</ul>
								</section>
								
							</div>
							<div>
								<section>
									<h2>Volg ons ook op</h2>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
									</ul>
								</section>
								<p class="copyright">
									&copy; GHOST
								</p>
							</div>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>