<!DOCTYPE HTML>
<html>
	<head>
		<title>Vebrent BVBA</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
	</head>
	<body class="right-sidebar is-preload">
		<div id="page-wrapper">
            <a class="vebrentlogo" href="../index.html"><img src="../assets/images/logo.svg"></a>
				<section id="header">
						<nav id="nav">
							<ul>
								<li><a href="../index.html">Startpagina</a></li>
								<li>
									<a>In Beeld</a>
									<ul>
										<li class="current"><a href="vacature.html">Vacatures</a></li>
										<li>
											<a href="./gallery/gallerij.html">Projecten</a>
										</li>
										<li><a href="https://www.facebook.com/Vebrent-BVBA-Stijn-De-Schryver-105164980831648">Facebook</a></li>
										<li><a href="#https://www.instagram.com/vebrent_bvba/">Instagram</a></li>
									</ul>
								</li>
								<li><a href="activiteiten.html">Activiteiten</a></li>
								<li><a href="contact.html">Contact</a></li>
							</ul>
						</nav>

				</section>

				<section id="main">
                    <div id="activiteitenindex" class="container">
                        <div class="row">
                            <div class="col-8 col-12-medium">
                                <h2>Vacatures</h2>
                                <!-- Content -->
                                    <article class="box post">
                                        <section>
                                            <a href="#" class="image featured"><img src="../assets/images/projecten/werf1.jpg" alt="" /></a>
                                            <header>
                                                
                                                <p>Misschien is dit het begin van een mooi verhaal</p>
                                            </header>
                                            <h3>werkvoorbereider/calculator</h3>
                                            <p>Als werkvoorbereider/calculator ben je verantwoordelijk voor de coördinatie van het volledige calculatieproces (aanbestedingen en particulieren) binnen ons bedrijf, dit binnen de vooropgestelde tijdslijnen. Tevens verzorg je de benodigde rapportering en informatierol omtrent dit proces.</p>
                                            <h4>Volgende verantwoordelijkheden behoren tot je takenpakket:</h4>
                                            <ul>
                                                <li>Je analyseert nieuwe projecten en zorgt voor een nauwgezette prijscalculatie op basis van de technische gegevens zoals plannen, lastenboeken, ….</li>
                                                <li>Je berekent alle benodigde middelen (manuren, materialen, transportkosten, kosten verbonden aan onderaannemers)</li>
                                                <li>Je voorziet alle nodige vergunningen en technische fiches.</li>
                                                <li>Je verzorgt of assisteert de onderhandeling naar de beste prijzen bij alle potentiële leveranciers en (onder)aannemers.</li>
                                            </ul>
                                            <h3>profiel</h3>
                                            <h4>We willen graag met je kennis maken als je:</h4>
                                            <ul>
                                                <li>Je beschikt over een hoger diploma richting bouwkunde of je bent gelijkwaardig door ervaring.</li>
                                                <li>Je beschikt over een sterk analytisch inzicht en weet op een commerciële manier te onderhandelen.</li>
                                                <li>Technische vakkundigheid draag je hoog in het vaandel.</li>
                                                <li>Op administratief vlak verwachten we een georganiseerde aanpak, PC-vaardigheid, bouwsoft en een goede kennis van MS Office is onontbeerlijk.</li>
                                            </ul>
                                            <h4>Jobgerelateerde competenties</h4>
                                            <ul>
                                                <li>De eenheidskost van elke uitvoeringsfase berekenen en de prijsraming voor de globale uitvoering van het project opmaken</li>
                                                <li>Het dossier voor de projectuitvoering (technische processen, methodes, plannen, ...) voorbereiden</li>
                                                <li>Leveranciers of dienstverleners selecteren
                                                    Onderhandelen over contractvoorwaarden
                                                    De geleverde diensten of producten controleren</li>
                                                <li>De kostprijs van een werf berekenen, de uitgaven controleren en de prijzen actualiseren
                                                    Bestellingen plaatsen</li>
                                                <li>De hoeveelheid materialen en het aantal werkuren voor het project inschatten</li>
                                                <li>De gedetailleerde lijst, per post, van de uitvoering van het project opstellen</li>
                                                <li>Het bouwdossier analyseren (architectendossier, plannen, bestek, aanbesteding, ...)</li>
                                                <li>Op zoek gaan naar nieuwe klanten</li>
                                            </ul>
                                            <h4>Persoonsgebonden competenties</h4>
                                            <ul>
                                                <li>Plannen (= ordenen)</li>
                                                <li>Resultaatgerichtheid</li>
                                                <li>Zelfstandig werken</li>
                                                <li>Zich kunnen aanpassen aan veranderende omstandigheden (flexibiliteit)</li>
                                                <li>Regels en afspraken nakomen</li>
                                            </ul>
                                            <h4>Aanbod</h4>
                                            <ul>
                                                <li>Je komt terecht in een jong familiaal bedrijf met een collegiale cultuur en korte communicatielijnen. Hier krijg je de kans om jezelf te ontwikkelen en zo mee te bouwen aan de groei van de onderneming.</li>
                                                <li>U staat net onder de zaakvoerder waarmee u nauw met samenwerkt.</li>
                                                <li>Je kan rekenen op een correct verloningspakket.</li>
                                            </ul>
                                        </section>
                                    </article>

                            </div>
                            <div class="col-4 col-12-medium">

                                <!-- Sidebar -->
                                    <section class="box">
                                        <header>
                                            <h3>Ploegbaas</h3>
                                        </header>
                                        <ul class="divided">
                                            <li><a href="../assets/images/PLOEGVERANTWOORDELIJKE RIOLERINGS-EN INFRASTRUCTUURWERKEN. - STEKENE.pdf">klik hier voor meer info</a></li>
                                        </ul>
                                        <h3>Allround Grond/Wegenwerker</h3>
                                            <p>
                                                Ervaren grond/afbraak/wegenwerker.
                                            </p>
                                    </section>
                            </div>
                        </div>
                    </div>
                </div>
                </section>
        </div>
        <script src="../assets/js/jquery.min.js"></script>
        <script src="../assets/js/jquery.dropotron.min.js"></script>
        <script src="../assets/js/browser.min.js"></script>
        <script src="../assets/js/breakpoints.min.js"></script>
        <script src="../assets/js/util.js"></script>
        <script src="../assets/js/main.js"></script>
    </body>
</html>

